/* 

* * * * * WHOLE PAGE * * * * *

*/

html
{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar 
{
    width: 0px; /* Hide Scroll Bar */
}

/* 

* * * * * NAV BAR * * * * *

*/
.myContainer
{
    padding: 0;
}

.myNavBar
{
    background-color: #000000;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.myBrand
{
    padding: 10px 10px 10px 10px;
}

.myNavImg
{
    width: auto;
    height: 100%;
}

.myNavItem 
{
    color: white !important; 
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 5px !important;
    margin: 10px !important;
}

.activeItem
{
    border-bottom: none;
    padding-bottom: 5px !important;
}

.roundItem
{
    border: none;
    border-radius: 0;
    padding: 5px 5px !important;
}

/* 

* * * * * HERO SECTION * * * * *

*/
.myRow
{
    background-color: black;
    display: block;
    height: calc(100vh - 50px);
    width: 100vw;
}

.marginZero
{
    margin: 0;
}

.paddingZero
{
    padding: 0;
}

.myColLg6
{
    padding: 20px;
    height: auto;
}

.myHeroText
{
    color: white;
    text-align: center;
    vertical-align: middle;
}

.myHeroText h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 42pt;
    font-weight: 400;
}

.myHeroText h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: 300;
}

.myHeroImg
{
    max-height: calc(100vh - 50px);
}

/* 

* * * * * My Projects * * * * *

*/

.sectionDivider
{
    margin: 0 calc((100vw - 100px) / 2);
}

.myProjectImg
{
    margin: 20px calc((100vw - 354px) / 2);
    max-width: calc(100vw - 20px);
}

#myBtnContainer
{
    margin: 0 calc((100vw - 224px) / 2);
    margin-bottom: 30px;
}

.myBtn
{
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 16px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    outline: none !important;
    padding: 2px 12px;
    margin: 0 5px;
}

.myActive
{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.myProjectContainer
{
    margin: 0 40px;
}

.myProject
{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65);
    cursor: pointer;
    display: none; /* Hidden by default */
    overflow: hidden;
    margin: 20px 0;
    padding: 0;
    max-width: calc(100vw - 80px);
}

.myProject img
{
    max-width: 100%;
}

.myDateText
{
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    padding: 5px 10px 0 10px;
}

.myProjectText
{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    padding: 0 10px 20px 10px;
}

#moreWork
{
    display: none;
}

#moreBlogs
{
    display: none;
}

/* 

* * * * * About Me * * * * *

*/

#aboutMe
{
    max-width: 1000px;
}

.aboutMeSmall
{
    display: block;
    margin: 50px auto 10px auto;
}

.aboutMeBig
{
    display: none;
}

.myShawBW
{
    width: 100%;
}

.aboutMeText
{
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 20pt;
    margin: 20px 25px;
    text-align: justify;
}

.aboutBtnContainer
{
    margin: 20px calc((100% - 289px) / 2);
}

.myAboutBtn
{
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    outline: none !important;
    padding: 10px 20px;
    margin: 0 10px;
}

/* 

* * * * * Read Me * * * * *

*/

.myBlogImg
{
    margin: 20px calc((100vw - 228px) / 2);
    max-width: calc(100vw - 20px);
}

/* 

* * * * * Footer * * * * *

*/

.myFooter
{
    margin-top: 20px;
}

/* 

* * * * * Modal * * * * *

*/

.modal-header h4
{
    font-family: 'Raleway', sans-serif;
    font-size: 24pt !important;
    font-weight: 400;
}

.myModalText
{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0 0 10px 0;
}

.item
{
    width: 100%;
}